.t-c{
  margin-top 60px
  .rl-s-w{
      text-align right
      .rl-s{
        background-color white
        outline none !important
        padding 8px 15px
        color #3d3838
        letter-spacing 1px
        box-shadow:0 2px 2px #a3a3a3
        margin 8px 0
        border-radius 5px
        font-size sm - 0.3rem
        transform all 0.2s ease;
        &:hover{
          background-color #f9f9f9
        }
      }
  }
  .t-w{
    border-radius 5px
    box-shadow:0 2px 2px #a3a3a3
    background-color white
    margin-top 20px
    table{

      width 100%
      .t-col{
        text-align right
        padding 10px 12px
        color #383333
        font-weight 550
        font-size sm - 0.3rem
        letter-spacing 0.5px
        &.s-section{
          width 60px
          text-align center
        }
      }
      th
      td{
        border 1px solid #e5e5e5
      }
    }
  }
}